<div class="container">
    <div class="header">
    <div class="row">


          <!--Search Patient-->
        <div class="col-sm-8">
            <input type="search" class="form-control custom-margin-search"
             placeholder="Search Patient " [(ngModel)]="searchTerm"
             (input)="filterPatients()">
        </div>


          <!--Add Patient-->
          <div class="col-sm-4">
           <a [routerLink]="['/patients/add']" role="button" class="btn btn-outline-primary custom-margin-add">
            <i class="fa fa-user-plus fa-lg"></i>&nbsp;Add Patient</a>
    </div>
</div>
<br>

</div>




      <!--List Patient-->
      <table class="table table-bordered table-striped">
        <thead>
            <th>Patient ID</th>
            <th>Patient Name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Blood Group</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Email</th>
            <th> Action </th>


        </thead>
        <tbody>
            <!-- <tr *ngFor="let patient of patientService.patients | filter:searchTerm 
            |  paginate: { itemsPerPage: 3, currentPage: page }"> -->
            <tr *ngFor="let patient of filteredPatients ">

                <td>{{patient.PatientId}}</td>
                <td>{{patient.PatientName}}</td>
                <td>{{patient.Dob}}</td>
                <td>{{patient.Gender}}</td>
                <td>{{patient.BloodGroup}}</td>
                <td>{{patient.PhoneNumber}}</td>
                <td>{{patient.Address}}</td>
                <td>{{patient.Email}}</td>




                <td>
                    <button type="button" class="btn btn-sm btn-outline-info"
                        (click)="editPatient(patient)">
                        <i class="fa fa-edit"></i>
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-outline-primary"
                        (click)="bookAppointment(patient.PatientId)">
                        <i class="fa fa-calendar"></i>                   
                    </button>

                </td>

            </tr>
        </tbody>

      </table>

     <!-- <div align="right" class="footer">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
     </div> -->
</div>