<!-- <p>appointment-medicine works!</p> -->
<!-- appointment-medicine.component.html -->
<div class="container mt-5">
  <h2 class="text-center">Medicine Prescriptions</h2>
    
    <!-- Medicine Prescription Form -->
    <form #medicineForm="ngForm" (ngSubmit)="onSubmit(medicineForm)">
      
      <!-- Appointment ID (Read-Only) -->
      <div class="form-group">
        <label hidden for="appointmentId">Appointment ID</label>
        <input type="text"  hidden readonly class="form-control" id="appointmentId" name="appointmentId" [(ngModel)]="doctorService.medicineprecription.AppointmentId" >
      </div>
  
      <!-- Medicine ID -->
      <!-- <div class="form-group">
        <label for="medicineId">Medicine ID</label>
        <input type="number" class="form-control" id="medicineId" name="medicineId" [(ngModel)]="doctorService.medicineprecription.MedicineId" required>
      </div> -->

      <!-- <div class="form-group">
        <label>Medicine Name:</label>
        <select name="MedicineId" id="MedicineId" #MedicineId="ngModel" class="form-control"
            [(ngModel)]="doctorService.medicineinfo.MedicineId" required>
            <option value="0" selected disabled>---Select Medicine---</option>
            <option *ngFor="let medicine of doctorService.medicineinfos" 
            value="{{medicine.MedicineId}}">{{medicine.MedicineName}}</option>

        </select>
      </div> -->


      <div class="form-group">
        <label>Medicine Name:</label>
        <select name="MedicineId" id="MedicineId" #MedicineId="ngModel" class="form-control"
            [(ngModel)]="doctorService.medicineprecription.MedicineId" required>
            <option value="0" >---Select Medicine---</option>
            <option *ngFor="let medicine of doctorService.medicineinfos" 
            [value]="medicine.MedicineId">{{medicine.MedicineName}}    ({{medicine.Category}})</option>
        </select>
      </div>
  
      <!-- Dosage -->
      <div class="form-group">
        <label for="dosage">Dosage</label>
        <input type="text" class="form-control" id="dosage" name="dosage" [(ngModel)]="doctorService.medicineprecription.Dosage" required>
      </div>
  
      <!-- Duration -->
      <!-- <div class="form-group">
        <label for="duration">Duration In Days</label>
        <input type="text" class="form-control" id="duration" name="duration" [(ngModel)]="doctorService.medicineprecription.Duration" required>
      </div> -->

      <div class="form-group">
        <label for="duration">Duration In Days</label>
        <select class="form-control" id="duration" name="duration" [(ngModel)]="doctorService.medicineprecription.Duration" required>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
        </select>
      </div>
      
  
      <!-- Frequency -->
      <!-- <div class="form-group">
        <label for="frequency">Frequency</label>
        <input type="text" class="form-control" id="frequency" name="frequency" [(ngModel)]="doctorService.medicineprecription.Frequency" required>
      </div> -->

      <div class="form-group">
        <label for="frequency">Frequency</label>
        <select class="form-control" id="frequency" name="frequency" [(ngModel)]="doctorService.medicineprecription.Frequency" required>
          <option value="1-1-1">1-1-1</option>
          <option value="1-0-0">1-0-0</option>
          <option value="0-1-0">0-1-0</option>
          <option value="0-0-1">0-0-1</option>
          <option value="1-0-1">1-0-1</option>
        </select>
      </div>
      
  
      <!-- Medicine Dispense Status -->
      <div class="form-group form-check">
        <input hidden type="checkbox" class="form-check-input" id="medicineDispenseStatus" name="medicineDispenseStatus" [(ngModel)]="doctorService.medicineprecription.MedicineDispenseStatus">
        <label hidden class="form-check-label" for="medicineDispenseStatus">Dispense Status</label>
      </div>
  
      <!-- Submit Button -->
      <button type="submit" class="btn btn-dark">Add Medicine</button>
  
    </form>
  </div>

  

  
  